<meta charset="UTF-8">
<meta http-equiv="content-language" content="ja">
<title><%= props.title %></title>
<meta name="title" content="<%= props.title %>"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= props.description %>">
<% if (props.ogp) { %>
<!-- Add OGP Information -->
<meta property="og:type" content="website"/>
<meta property="og:url" content="<%= props.ogpURL %>"/>
<meta property="og:site_name" content="<%= props.ogpSitename %>"/>
<meta property="og:title" content="<%= props.ogpTitle %>"/>
<meta property="og:description" content="<%= props.ogpDescription %>"/>
<meta property="og:image" content="<%= props.ogpImage %>"/>
<meta name="twitter:card" content="summary_large_image"/>
<% } %>
<% if (props.favicon) { %>
<!-- Add Favicon & WebClip -->
<link rel="apple-touch-icon" sizes="180x180" href="<%= props.relativePath %>assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= props.relativePath %>assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= props.relativePath %>assets/favicons/favicon-16x16.png">
<link rel="manifest" href="<%= props.relativePath %>site.webmanifest">
<link rel="mask-icon" href="<%= props.relativePath %>assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<% } %>